html,
body {
	margin: 0;
	padding: 0;
}

#root {
	/* padding: 8px 0; */

	width: 100dvw;
	height: 100dvh;

	/* display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center; */
}
